EDITORIAL_IMAP_HOST=
EDITORIAL_IMAP_PORT=993
EDITORIAL_IMAP_USER=artigo@verbovivo.blog
EDITORIAL_IMAP_PASSWORD=

EDITORIAL_SMTP_HOST=
EDITORIAL_SMTP_PORT=465
EDITORIAL_SMTP_USER=artigo@verbovivo.blog
EDITORIAL_SMTP_PASSWORD=

PUBLISH_IMAP_HOST=imap.hostinger.com
PUBLISH_IMAP_PORT=993
PUBLISH_IMAP_USER=publicar@verbovivo.blog
PUBLISH_IMAP_PASSWORD=

EDITORIAL_APPROVAL_BASE_URL=https://verbovivo.blog
EDITORIAL_APPROVER_EMAIL=

HOSTINGER_FTP_HOST=ftp.verbovivo.blog
HOSTINGER_FTP_PORT=21
HOSTINGER_FTP_USER=u454442761.codex
HOSTINGER_FTP_PASSWORD=
HOSTINGER_FTP_DIR=/

OPENAI_API_KEY=
