beautifulsoup4==4.12.3
fastapi==0.115.6
imap-tools==1.10.0
openai==1.59.7
Pillow==12.2.0
python-dotenv==1.0.1
python-multipart==0.0.20
uvicorn==0.34.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-oauthlib==1.2.1
